* {
	outline: none;
    box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
} 

.flex {
    display: flex;
    justify-content: space-between;
}

.flexStart {
    display: flex;
    align-items: flex-start;
}

.flexCenter {
    display: flex;
    align-items: center;
}

.commonWrapper{
    max-width: 1240px;
    margin: 0px auto;
}

.button {
    line-height: 17px;
    font-size: 17px;
    font-weight: normal;
	border-radius: 5px;
	background: #FAFAFA;
	border: 2px solid #E7E7E7;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    padding: 9px 11px;
    margin-bottom: 20px;
}

.button.block {
    width: 100%;
    display: block;
    padding: 14px 14px 14px 14px;
    font-size: 18px;
}

.button.colorBlue {
    border: none;
    background: rgba(1, 115, 193, 0.15);
    color: #0173C1;
}

.button.colorGreen {
    border: none;
    background: #21CE05;
    color: #FFFFFF;
}

.button.colorRed {
    border: none;
    background: #FC2B82;
    color: #FFFFFF;
}

.button.colorWhite {
    background: #FFFFFF;
}

.button.iconLeft {
    img {
        margin-right: 15px;
    }
    span {
        vertical-align: middle;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading {
    margin: 0px;
	padding: 13px 0px 13px 25px;
    margin: 0px 0px 20px 0px;
	color: #000000;
	font-size: 20px;
	font-weight: normal;
	border: 1px solid #E7E7E7;
    border-width: 1px 0px;
    background: #FAFAFA;
}

main {
    border: 1px solid #F0F0F0;
    background: #ffffff;
}

.topBorder {
    border-top: 1px solid #E7E7E7;
}

.blockOutline {
    margin: 20px 0px 20px 0px;
    padding: 0px 20px 0px 20px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    background: #FAFAFA;
}

.sectionContent {
    padding: 0px 20px;
}

.blockquote:before {
    height: 18px;
    display: block;
    margin: 20px 0px 0px 0px;
    background: url('../images/quotes.svg') no-repeat 0 0;
    content: '';
}

.checkList {
    display: block;
    margin: 0px 0px 20px 0px;
}

.checkList li {
    position: relative;
    margin: 0px 0px 17px 0px;
    padding: 2px 0px 0px 40px;
}

.checkList li:before {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px; top: 0px;
    background: url('../images/check-mark.svg') no-repeat 0 0;
    content: '';
}

.checkList .note {
    display: block;
    margin-top: 3px;
}

.qsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.qsList li:before {
    background-image: url('../images/help-icon.svg') !important;
}

.qsList li a {
   color: #000000; 
}

.widthLimit {
    margin: 0 auto;
}

.widthLimit.w_350 {
    max-width: 350px;
}

.widthLimit.w_500 {
    max-width: 500px;
}

.widthLimit.w_700 {
    max-width: 700px;
}

.widthLimit.w_1020 {
    max-width: 1020px;
}

.attachments {
    padding-bottom: 20px;
}

.overview {
    margin: 0px -1px;
    border: 2px solid #FFBA5C;
    margin: 0px 0px 20px 0px;
    background: rgba(255,209,133,0.5);
    text-align: center;
    font-size: 20px;
    .checkList li:before {
        background-image: url('../images/check-mark-black.svg');
        top: 50%;
        transform: translateY(-50%);
    }
    .link {
        a {
           color: #000000; 
        }
        img {
            margin-right: 5px;
            position: relative;
            top: -2px;
        }
    }
}

.information {
    padding-left: 60px;
    .button {
        margin-right: 20px;
    }    
    .blockOutline {
        max-width: 700px;
        margin-top: 0px;
    }    
}

.textLeft {
    text-align: left;
}

.textBlock {
    display: flex;
    margin: 20px 0;
    .image {
        flex-shrink: 0;
        margin-right: 20px;
    }
    .text {
        display: flex;
        flex-wrap: wrap;
        
    }
    .text :first-of-type {
        margin-top: 0;
    }
    .text :last-of-type {
        margin-bottom: 0;
    }
}

.highlight {
    .text {
        padding: 20px 20px; 
        align-items: center;
        background: rgba(255, 177, 64, 0.15);
        font-size: 20px;
    }
}

.appKeyCtrl {
    display: flex;
    > span {
        width: 500px;
        padding: 10px 20px 10px 20px;
        border: 1px solid #E7E7E7;
        background: #FAFAFA;
        
        display: flex;
        align-items: center;
    }
    .button {
        border-left: 0;
        border-width: 1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 50px;
        background: #FFFFFF;
    }
}




