* {
	outline: none;
    box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 200px;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.commonWrapper{
    max-width: 1240px;
    margin: 0px auto;
}

.wrapper {
    max-width: 1190px;
    margin: 0px auto;
}

.button {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
	padding: 10px;
	border-radius: 5px;
	background: #FFFFFF;
	border: 2px solid #E7E7E7;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.field {
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
}

.block {
    display: block;
    width: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.listItem {
    display: flex;
    align-items: center;
    span {
        margin-left: 15px;
    }
}

.contour {
	border-left: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	border-bottom: 1px solid #F0F0F0;
}

.contourTops {
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

.contourSides {
	border-left: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
}

.heading {
	padding: 14px 0px 14px 25px;
	color: #000000;
	font-size: 20px;
	font-weight: normal;
	border-bottom: 1px solid #F0F0F0;
}

.headline {
	margin: 0px 0px 20px 25px;
	font-weight: normal;
	color: #555555;
}