@import "mixin";
@import "normalize";
@import "default";

body {
	background: #FAFAFA;
}

header {
	width: 100%;
	color: #FFFFFF;
	background: #2344A4;
	padding: 0px 20px;
	a {
		color: #FFFFFF;
	}
}

.headerContent {
  justify-content: space-between;
	padding: 9px 0px;
}

.logoIcon {
	flex-shrink: 0;
}

.logoCaption,
.pageTitle {
	margin-left: 10px;
}

.logoCaption {
	font-size: 22px;
}

.headerMenu {
	font-size: 17px;
}

.profileComponent {
	text-align: center;
	.wrapper {
		max-width: 280px;
	}
	span {
		display: block;
	}
}

.social {
	font-size: 16px;
	color: #0173C1;
	margin: 16px 0px;
	span {
		display: inline-block;
	}
	a {
		color: #0173C1;
		margin-left: 8px;
		vertical-align: middle;
	}
}

.instagram {
	margin-left: 13px;
}

.profile {
	text-align: center;
	.userPic {
		margin: 0px -20px;
		background: #F9F9F9;
		border: 1px solid #E7E7E7;
		border-width: 1px 0;
	}
	.userName {
		font-size: 24px;
		margin: 15px 0px 17px 0px;
	}	
	.userPosition {
		display: inline-block;
		padding: 10px 10px;
		margin-bottom: 20px;
		background: #0063B0;
		border-radius: 5px;
		font-size: 17px;
		color: #FFFFFF;		
	}
}

.suppBtn {
	margin-bottom: 23px;
	border: 0px;
}

.offerPanel {
	font-size: 20px;
	text-align: center;
	border: 2px solid #FFBA5C;
	background: rgba(255, 209, 133, 0.5);
	.wrapper {
		max-width: 500px;
	}
	p {
		margin: 24px 0px 18px 0px;
	}
	button {
		border: 0px;
		font-size: 20px;
		color: #FFFFFF;
	}
}

.request {
	display: inline-block;
	max-width: 355px;
	text-align: left;
	p {
		margin-top: 0px;
	}
	li {
		font-weight: bold;
		margin-bottom: 23px;
	}
}

.short {
	span {
		margin-left: 10px;
	}
}

.countdown {
	border: 2px solid #FFBA5C;
	border-radius: 5px;
	background: #FFFFFF;
	padding: 12px;
	.value {
		display: block;
		margin-top: 12px;
		font-weight: bold;
		font-size: 26px;
	}	
}


.contact {
	margin: 26px 0px 20px 0px;
	background: #21CE05;
}

.cancel {
	margin: 0px 0px 35px 0px;
	background: #FC2B82;
}
.questions {
	font-size: 18px;
	display: inline-block;
	.listItem {
		justify-content: center;
		margin-bottom: 18px;
	}
	.listItem:last-child {
		margin-bottom: 32px;
	}
	a {
		margin-left: 14px;
		color: #000000;
	}
}

.photoGalleryComponent {
	.wrapper {
		max-width: 1080px;
		padding: 18px 0;
	}
}

.photogalleryModule {
	margin-top: -20px;
	padding: 20px 20px 1px;
	background: #FAFAFA;
	border-bottom: 1px solid #E7E7E7;
	.photoswipeGallery {
		margin-bottom: 20px;
	}
}




.oportunitiesContent {
	display: flex;
	font-size: 20px;
	.icon {
		padding-top: 20px;
	}		
	.text {
		padding-left: 20px;
	}
	.button {
		margin-right: 20px;
	}
}


.info {
	color: #555555;
	.title {
		font-size: 19px;
	}
	.inner {
			margin-left: 60px;
	}
	button {
		margin: 0px 24px 24px 0px;
	}
}

.title {
	margin: 0px;
	color: #555555;
	position: relative;
	margin: 16px 20px 16px 20px; 
	padding-left: 40px;
	font-weight: normal;
	.ico {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.personData {
	padding: 0px 16px;
	max-width: 700px;
	margin-bottom: 28px;
	background: #FAFAFA;
	p {
		margin: 13px 0px;
	}
}

.photoСarouselComponent {
	.title {
		font-size: 20px;
		padding-bottom: 22px;
	}
}

.photoСarouselModule {
	max-width: 940px;
	margin: 0px auto;
	.item {
		margin: 0px 5px;
		text-align: center;
	}
}




.serviceComponent {
	padding: 0px 0px 0px 0px;
}

.service {
	font-size: 20px;
	margin: 25px 0px;
	color: #000000;
	li {
		margin-bottom: 17px;
	}
}

.faded {
	color: #999999;
	font-size: 17px;
}


.commentsList {
	margin: 0px 0px 0px -20px;
}

.commentBlock {
	margin: 0px 0px 20px 20px;
	padding: 20px 20px 20px 20px;
	background: rgba(255,209,133,0.25);
}

.commentBlock :last-child {
	margin-bottom: 0;
}

.commentBlock p {
	color: #555555;
}


.genSection {
	border-top: 1px solid #E7E7E7;
	.wrapper {
		max-width: 715px;
	}
}

.copy {
	max-width: 700px;
	display: flex;
	margin-bottom: 26px;
}

.centerColl {
	padding: 0px 25px;
}

.commonTitle {
	font-size: 22px;
	margin: 22px 0px 0px 0px;
}

.postContent {
	color: #555555;
	padding-right: 15px;
	p {
		margin-top: 13px;
	}
	input {
		font-size: 20px;
		padding: 13px 14px;
		background: #FAFAFA;
		border: 1px solid #E7E7E7;
		border-radius: 2px 0px 0px 2px;
	}
	button {
		font-size: 18px;
		border-left: 0px;
		padding: 14px 26px;
		border-top: 1px solid #E7E7E7;
		border-bottom: 1px solid #E7E7E7;
		border-right: 1px solid #E7E7E7;
		border-radius: 0px 2px 2px 0px;
	}
}

.team {
	h3 {
		font-size: 22px;
		margin-bottom: 14px;
	}
	p {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	input {
		font-size: 18px;
		padding: 9px 11px;
		margin-bottom: 15px;
	}
}

.mainPost {
	font-size: 20px;
	margin: 10px 0px 28px;
	.inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 20px;
		background: rgba(255, 177, 64, 0.15);
		align-self: stretch;
		padding: 0px 32px;
	}
}

.narative {
	color: #333333;
}

.tabsComponent:after {
	clear: both;
	display: block;
	content: '';
}

.tabsComponent {
	margin: 20px 0;
	border-bottom: 1px solid #E7E7E7;
}

.tabsComponent dt {
    margin: 0px;
	padding: 13px 50px 13px 25px;
    margin: 0;
	color: #000000;
	position: relative;
	font-size: 20px;
	font-weight: normal;
	border: 1px solid #E7E7E7;
	border-bottom: none;
    background: #FAFAFA;
    cursor: pointer;
}

.tabsComponent dt:before {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 10px; top: 50%;
	transform: translate(0%, -50%);
	background: url('../images/accordion-arrow.svg') no-repeat 50% 50%;
	content: '';
}


.tabsComponent dt:hover {
	color: #000;
}

.tabsComponent dd {
	display: none;
	border: 1px solid #E7E7E7;
	border-bottom: none;
	padding: 20px 20px 20px 20px;
	margin: 0;
}

.tabsComponent dt.active {
	
	border-bottom: 0px;
	/*background: #ffffff;*/
	/*color: #000;*/
}

.tabsComponent dt.active:before {
	transform: translate(0%, -50%) rotate(180deg);
}

.tabsComponent dd.active {
	display: block;
}

.application {
	p {
		font-size: 20px;
		margin-top: 0px;
		color: #555555;
	}
	.inner {
		padding: 13px 20px 18px;
	}
	margin-bottom: 37px;
}

.photoswipeGallery {
	display: flex;
}

.photoswipeGallery figure {
	margin: 0px 20px 0px 0px;
}

.photoswipeGallery figure:last-child {
	margin: 0px;
}

.photoswipeGallery figcaption {
	display: none;
}

footer {
	padding: 20px 0px 20px;
	background: #555555;
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	a {
		color: #FFFFFF;
	}
}

footer p:last-of-type {
	margin-bottom: 0px;
}

.copyrights {
	display: block;
	text-align: center;
	padding: 0px 0px 10px 0px;
}

.copyrights li {
	margin: 0px 0px 12px 0px;
}

body {

    @include respond(landscape) {

    }

    @include respond(portrait) {

    }

    @include respond(small) {


    	.headerMenu a {
    		width: 32px;
    		height: 32px;
    		display: block;
    		position: relative;
    		text-indent: -1000px;
    	}    	

    	.headerMenu a:before {
    		width: 32px;
    		height: 32px;
    		position: absolute;
    		right: 0;
    		top: 0;
    		background: url('../images/ham.svg') no-repeat 50% 50%;
    		content: '';
    	}

        .commentsList {
        	margin: 0;
        	flex-wrap: wrap;
        	.commentBlock {
        		margin-left: 0;
        	}
        }

        .wizard .textBlock {
        	flex-wrap: wrap;
			.image {
				margin: 0 0 20px 0;
			}
        }

		.appKeyCtrl {
		    display: flex;
		    > span {
		        width: auto;
		        span {
			        word-break: break-all;
		        }
		    }
		}        

		.wizard .textBlock {
		    .image {
		        flex-shrink: 1;
		        margin: 0 0 20px 0;
		    }
		}

		.highlight {
			display: block;
			.image {
				margin: 0 -20px 20px -20px;
				background: #FAFAFA;
				text-align: center;
			}
		}

		.attachments {
			.photoswipeGallery {
				display: block;
				figure {
					display: inline-block;
					margin: 0 20px 20px 0;
				}
			}
		}		

    }

    @include respond(extraSmall) {

    	.pageTitle {
    		display: none;
    	}


		.qsList {
		    justify-content: left;
		}    	

		.oportunitiesContent {
			display: block;
			.icon {
				text-align: center;
			}		
			.text {
				padding-left: 0;
			}
			.button {
				margin-right: 20px;
			}
		}

		.textBlock {
			display: block;
			.image {
				margin-bottom: 20px;
			}
		}

		.highlight {
			.text {
				margin: 0 -20px 20px;
			}
		}		

		.appKeyCtrl {
		    display: block;
		    > span {
		        width: auto;
		    }
		    .button {
		        width: 100%;
		        display: block;
		        border-radius: 0;
		        border: 1px solid #E7E7E7;
		        border-top: 0px;
		    }
		}


		.photogalleryModule {
			.photoswipeGallery {
				display: block;
				text-align: center;
				figure {
					display: block;
					margin: 0 0px 20px 0;
				}
			}
		}

		.attachments {
			margin: 0 -20px;
			border-radius: 0;
			border-width: 1px 0 0;
			.photoswipeGallery {
				text-align: center;
				figure {
					display: block;
					margin: 0 0px 20px 0;
				}
			}
		}		

		.tabsComponent {
			margin: 20px -21px;
		}

    }
}