@import "mixin";
@import "normalize";
@import "default";

header {
	width: 100%;
	color: #FFFFFF;
	background: #2344A4;
	a {
		color: #FFFFFF;
	}
}

.headerContent {
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 9px 0px;
}

.logoCaption,
.pageTitle {
	margin-left: 10px;
}

.profileComponent {
	text-align: center;
	.wrapper {
		max-width: 280px;
	}
	span {
		display: block;
	}
}

.social {
	span {
		display: inline-block;
	}
	a {
		margin-left: 8px;
	}
}

.instagram {
	margin-left: 13px;
}

.offerPanel {
	text-align: center;
	border: 2px solid #FFBA5C;
	background: rgba(255, 209, 133, 0.5);
	.wrapper {
		max-width: 500px;
	}
}

.request {
	display: inline-block;
	max-width: 360px;
	text-align: left;
}

.short {
	span {
		margin-left: 10px;
	}
}

.countdownСontainer {
	border: 2px solid #FFBA5C;
}

.questions {
	display: inline-block;
	.listItem {
		justify-content: center;
	}
	span {
		cursor: pointer;
		border-bottom: 1px solid #000000;
	}
}

.photoGalleryComponent {
	.wrapper {
		max-width: 1080px;
	}
}

.photogalleryModule {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}

.oportunitiesContent {
	display: flex;
	.inner {
		padding-left: 25px;
	}
}

.restriction {
	margin-top: 20px;
	display: inline-block;
}

.personData {
	max-width: 700px;
}

.photoСarouselModule {
	max-width: 940px;
	margin: 0px auto;
}

.blockQuote {
	max-width: 100%;
}

.faded {
	display: block;
	color: gray;
}

.commentSection {
	.wrapper {
		max-width: 1020px;
	}
}

.commentBlock {
	max-width: 500px;
}

.genSection {
	.wrapper {
		max-width: 715px;
	}
}

.copy {
	max-width: 700px;
	display: flex;
}


.tabsComponent:after {
	clear: both;
	display: block;
	content: '';
}

.tabsComponent dt {
	position: relative;
	margin: 0px 1px 0px 0px;
	padding: 16px 24px 0px 24px;
	border: 1px solid #c4c4c4;
	background: #e7e7e7;
	cursor: pointer;
	color: #004987;
}

.tabsComponent dt:hover {
	color: #000;
}

.tabsComponent dd {

	display: none;
	border: 1px solid #c4c4c4;
	padding: 20px 20px 20px 20px;
}

.tabsComponent dt.active {
	border-color: #c4c4c4;
	border-bottom: 0px;
	background: #ffffff;
	color: #000;
}

.tabsComponent dd.active {
	display: block;
}

.application {
	.inner {
		margin-left: 25px;
		margin-right: 25px;
		padding: 20px 0px;
	}
}
// .oportunities-component {
// 	display: flex;
// 	border-left: 1px solid #F0F0F0;
// 	border-right: 1px solid #F0F0F0;
// 	border-bottom: 1px solid #F0F0F0;
// 	.oportunities-icon {
// 		display: inline-block;
// 	}
// 	.oportunities-icon,
// 	.oportunities-info {
// 		margin: 17px 0px 0px 25px;
// 	}

// 	.oportunities-info {
// 		font-size: 20px;
// 	}

// 	p {
// 		margin: 0px 0px 18px 0px;
// 	}

// 	.btn-actions-wrapper {
// 		span:not(:first-child) {
// 			margin-left: 18px;
// 		}
// 	}
// }

// .pofile-info-section {
// 	color: #555555;
// }


// .pofile-info-wrapper {
// 	margin-left: 60px;
// }

// .profile-info {
// 	max-width: 700px;
// 	padding: 16px;
// 	border-radius: 3px;
// 	background: #FAFAFA;
// 	border: 1px solid #E7E7E7;
// 	margin-bottom: 20px;
// 	p {
// 		margin: 0px 0px 18px 0px;
// 	}

// 	p:last-child {
// 		margin: 0;
// 	}
// }

// .photo-carousel-component {
// 	padding-top: 20px;
// }

// .photo-carousel {
// 	max-width: 940px;
// 	margin: 0px auto 20px auto;
// 	display: flex;
// 	justify-content: space-between;
// }

// .blockquote {
// 	max-width: 1188px;
// 	margin: 0 auto;
// 	padding: 16px 0px 16px 14px;
// 	background: #FAFAFA;
// 	border: 1px solid #E7E7E7;
// 	border-radius: 5px;
// 	p {
// 		max-width: 1035px;
// 	}
// }

// .services-section {
// 	padding: 0px 0px 25px 25px;
// }


footer {
	background: #555555;
	color: #FFFFFF;
	a {
		color: #FFFFFF;
	}
}

.copyrights {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px auto;
	max-width: 700px;
}

body {
    @include respond(landscape) {
        background: green;
    }

    @include respond(portrait) {
        background: blue;
    }

    @include respond(small) {
        background: yellow;
    }

    @include respond(extraSmall) {
        background: gray;
    }
}